APP_ENV=local
PUBLIC_BASE_URL=http://localhost:5173
SERVER_PORT=8111
SERVER_MAX_THREADS=50
SERVER_MIN_SPARE_THREADS=4
SESSION_COOKIE_SECURE=false

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bilibili_comment_dev
DB_APP_USERNAME=bilibili_comment_dev_app
DB_APP_PASSWORD=
DB_MIGRATOR_USERNAME=bilibili_comment_dev_migrator
DB_MIGRATOR_PASSWORD=

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
CREDENTIAL_ENCRYPTION_KEY=
CURSOR_SIGNING_KEY=
CURSOR_TTL=2h

COMMENT_EXPORT_ENABLED=true
EXPORT_STORAGE_PATH=./.local/exports
EXPORT_ENCRYPTION_KEY=
COMMENT_EXPORT_POLL_DELAY=2s
COMMENT_EXPORT_TTL=24h
COMMENT_EXPORT_MAXIMUM_RUNTIME=10m
COMMENT_EXPORT_MAXIMUM_QUEUED=3
COMMENT_EXPORT_MAXIMUM_ROWS=250000
COMMENT_EXPORT_MAXIMUM_BYTES=268435456
COMMENT_EXPORT_CHUNK_SIZE=1000

SCHEDULER_ENABLED=false
SCHEDULER_RECONCILE_DELAY=30s
SCHEDULER_POOL_SIZE=2
WORKER_CORE_SIZE=2
WORKER_MAX_SIZE=2
WORKER_QUEUE_CAPACITY=20
BACKFILL_CONCURRENCY=1
BACKFILL_QUEUE_CAPACITY=3
EXECUTION_DISPATCH_DELAY=2s
RETRY_RECOVERY_DELAY=2s
EXECUTION_LEASE_DURATION=2m
EXECUTION_HEARTBEAT_DELAY=20s
EXECUTION_RECOVERY_BATCH_SIZE=100

BILIBILI_CONNECT_TIMEOUT=5s
BILIBILI_RESPONSE_TIMEOUT=20s
BILIBILI_MAXIMUM_ATTEMPTS=3
BILIBILI_MAXIMUM_EXECUTION_RETRIES=2
BILIBILI_EXECUTION_RETRY_BASE_DELAY=30s
BILIBILI_MINIMUM_REQUEST_INTERVAL=500ms
BILIBILI_MAXIMUM_CONCURRENT_REQUESTS_PER_CREDENTIAL=1
BILIBILI_BACKFILL_PAGE_LIMIT=10000

SSE_EMITTER_TIMEOUT=30m
SSE_HEARTBEAT_DELAY=25s
